.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-title  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

}
.link {
    font-size: large;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-left: 39px;
    margin-top: 20px;
    color: orange
}

.link:hover{
    color:red;
}

.link2:hover{
    color: blue;
}

.viewing {
    color: white;
}